section {
    min-height: 54.1vh;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: red;
}

table tbody tr td {
    position: relative;
}

@media (max-width: 700px) {
    table tbody tr td {
        display: block;
        text-align: right;
    }
    table tbody tr td:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        display: block;
        font-weight: bold;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        margin-bottom: 20px;
        display: block;
    }
}